@use "variables";

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    position: relative;
    
}

.footer-content {
    max-width: 1200px;
    // min-height: 200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & a {
        color: variables.$color-coral;
        text-decoration: none;
        margin: 0 10px;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
}